<div class="app-component">
<mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
      <span style="flex: 1;">
          <div [routerLink]="['']"  style="display: table">
          <img src="../assets/images/logo.png" style="width: 64px; vertical-align: middle">
          <span style="vertical-align: text-top; margin-left: 5px;">Eng Teams</span>
          </div>
      </span>
        <div class="user-info">
            <span class="flex-spacer"></span>
            <span class="user-info">{{profile?.firstName}} {{profile?.lastName}}</span>
            <button mat-icon-button [matMenuTriggerFor]="accountMenu" title="Account">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #accountMenu="matMenu" >
                <button (click)="logout()" mat-menu-item>
                    <span>Esci</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>

  </mat-toolbar>
<div class="d-flex flex-1">
  <router-outlet></router-outlet>
</div>
  <mat-toolbar color="primary" class="footer">
    <mat-toolbar-row>
      <span>Eng Teams</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
