<mat-dialog-content>
    <form class="form"  #bucketForm="ngForm">
        <mat-form-field class="example-full-width">
            <input matInput name="name" placeholder="Nome cartella" required [(ngModel)]="folder.name">
        </mat-form-field>
        <div>
            <button style="float: right" mat-flat-button color="primary" (click)="addFolfer()">Crea File</button>
            <!--      <button [disabled]="bucketForm.invalid" style="float: right" mat-flat-button color="warn" (click)="createBucket()">Crea Bucket</button>-->
        </div>
    </form>
</mat-dialog-content>
