<mat-dialog-content>
  <form class="form"  #bucketForm="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput name="name" placeholder="Nome Team" required [(ngModel)]="team.name">
    </mat-form-field>
    <mat-form-field class="example-full-width" *ngFor="let member of team.members; let index = index">
        <input name="member{{index}}" type="email"  matInput placeholder="Partecipante {{index+1}}" required [(ngModel)]="member.email">
        <mat-icon matSuffix (click)="deleteContributor(index)">delete</mat-icon>
    </mat-form-field>
  <div>
      <button mat-flat-button color="primary" (click)="addContributor()">Aggiungi Partecipante</button>
      <button [disabled]="bucketForm.invalid" style="float: right" mat-flat-button color="warn" (click)="createBucket()">Crea Team</button>
  </div>
  </form>
</mat-dialog-content>
