.color-div{
  flex: 1;
  height: 400px;
  display: block;
}

.d-flex{
  display: flex;
}

.invert{
  filter: invert(100%);
  :after {
    /* This value is the OPPOSITE color of our background */
    mix-blend-mode: difference;
  }
}

.center{
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: xx-large;
}
