<div class="row">
  <div class="col">
<form>
  <div class="row">
    <div class="col">
    <input type="text" class="form-control" name="nomeColore" placeholder="Nome Colore" [(ngModel)]="newColor.name">
    </div>
    <div class="col">
    <input type="text" class="form-control" name="codiceColore" placeholder="Codice Colore" [(ngModel)]="newColor.code">
  </div>
    <div class="col-1 text-right">
      <button  (click)="createColor()" type="submit" class="btn btn-primary">Aggiungi</button>
    </div>
  </div>
</form>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
<div class="form-group">
  <select class="form-control" [(ngModel)]="selectedColor">
    <option value="">Seleziona un colore</option>
    <option *ngFor="let color of colors; let i = index;" [value]="color.code">{{color.name}}</option>
  </select>
</div>
  </div>
</div>

<div class="d-flex">

<div class="color-div" [ngStyle]="{'background': selectedColor}">
  <p class="invert center font-weight-bold mx-auto" [ngStyle]="{'color': selectedColor}">{{selectedColor}}</p>
</div>
</div>
