<div class="row">
  <div class="col ">
    <form class="form-inline flex-row-reverse">
      <input name="cercaColore" class="form-control mr-sm-2" type="search" placeholder="Cerca colore" #search (keyup)="cercaColore(search.value)">
    </form>
  </div>
</div>
    <div class="row mt-5">
      <div class="col">
      <div class="card" >
        <ul class="list-group list-group-flush">
          <li *ngFor="let color of colors | filter:coloreDaCercare?{'name': coloreDaCercare}:null;" class="list-group-item font-weight-bold" [ngStyle]="{'color': color.code}">{{color.name}} ({{color.code}})</li>
          <li *ngIf="(colors | filter:coloreDaCercare?{'name': coloreDaCercare}:null).length == 0" class="list-group-item font-weight-bold">Nessun risultato</li>
        </ul>
      </div>
  </div>
</div>
