/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex{
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-spacer{
  flex: 1 1 auto;
}

.invert{
  filter:invert(100%);
}

.justify-content-center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

html {
  min-height: 100%;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db3236;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #db3236;
}

.mat-expansion-panel-body {
  padding: 0 0 0 24px !important;
}
