:host{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  //position: relative;
  //overflow: hidden scroll;
}
.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.file-list-item{
  display: flex;
  flex: 1;
  cursor: pointer;
}

mat-icon{
  vertical-align: bottom;
}

.breadcrumb{
  //flex: 1;
  font-weight: bold;
}
